@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    font-family: Inter, system-ui, sans-serif;
    background: #f8fafc;
}

/* Ẩn icon con mắt mặc định của trình duyệt trên trường nhập mật khẩu */
input[type="password"]::-ms-reveal {
    display: none;
}